	<script src="./src/angular-build.js"></script> 

  <script>
		System.config({
		  //use typescript for compilation
		  transpiler: 'typescript',
		  //typescript compiler options
		  typescriptOptions: {
		    emitDecoratorMetadata: true
		  },
		  //map tells the System loader where to look for things
		  map: {
		    app: "./src",
		    'redux': 'https://cdnjs.cloudflare.com/ajax/libs/redux/3.0.4/redux.js'
		  },
		  //packages defines our app package
		  packages: {
		    app: {
		      main: './main.js',
		      defaultExtension: 'js'
		    }
		  }
		});
    System.import('src/boot.js')
      .catch(console.error.bind(console));
  </script>
  </body>
</html>