{% extends "../templates/base.html" %}
{% set title = "Angular 2 Redux | Style Guide" %}
{% set active_page = "style-guide" %}
{% block main %} 
<main class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>Theme example</h1>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
  </div>
	{% include "../templates/partials/bootstrap/buttons.html" %}
	{% include "../templates/partials/bootstrap/tables.html" %}
	{% include "../templates/partials/bootstrap/thumbnails.html" %}
	{% include "../templates/partials/bootstrap/badges.html" %}
	{% include "../templates/partials/bootstrap/dropdowns.html" %}
	{% include "../templates/partials/bootstrap/navs.html" %}
	{% include "../templates/partials/bootstrap/navbars.html" %}
	{% include "../templates/partials/bootstrap/alerts.html" %}
	{% include "../templates/partials/bootstrap/progress-bars.html" %}
	{% include "../templates/partials/bootstrap/list-groups.html" %}
	{% include "../templates/partials/bootstrap/panels.html" %}
	{% include "../templates/partials/bootstrap/wells.html" %}
	{% include "../templates/partials/bootstrap/carousel.html" %} 
	<hr>	
</main>
{% endblock %}

