{% extends "base.html" %}
{% set title = "Angular2 Fullstack Boilerplate | Todo" %}
{% set active_page = "Todo" %}
{% block main %} 
<main class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>Angular2 Fullstack Boilerplate Todo</h1>
    <p>A simple static Angular 2 HTML site builder that uses Gulp and Nunjucks. Modularize your HTML Angular 2 code by using templates and partials.</p>
		<p class="text-center">
				<a class="btn btn-primary btn-lg" href="https://github.com/bigbassroller/Angular2-Fullstack-Boilerplate">Download on Github</a>
		</p>
  </div>
</main>
{% endblock %}